/**
 * Reveal.js theme for Storyrevealer.
 *
 */

// Default mixins and settings from Reveal.js --
@import "theme/template/mixins";
@import "theme/template/settings";
// ---------------------------------------------


/***********************************************
 * Storyrevealer Defaults
 */

// Include theme-specific fonts
@import url(font/source-sans-pro/source-sans-pro.css);

$sr-backgroundColor: #222;
$sr-color: #eee;
$sr-highlightColor: #f00;
$sr-graphTransparency: 0.8;
$sr-linkColor: #00ff00;



// Override theme settings (see ../template/settings.scss)

$backgroundColor: $sr-backgroundColor;

$mainColor: $sr-color;
$headingColor: $sr-color;

$mainFontSize: 30px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $sr-linkColor;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $sr-backgroundColor;
	}
}


// Theme template for Reveal.js ----------------
@import "theme/template/theme";
// ---------------------------------------------

/* chartlist-setting is redefined to use above defaults */
@import "chartist/chartist.scss";


/***********************************************
 *	Storyrevealer redefinition and custom classes
 */
@import "chartist-legend.scss";

/* page structure */
.multicols{
    display: flex;
}
.col{
    flex: 1;
}
/* text position */
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.bottom-left {
	position: fixed;
	bottom: 25%;
}
.bottom-right {
	position: fixed;
	bottom: 20%;
	right: 10%;
}
/* generic classes */
.lighter {
	background: rgba($sr-color, 0.2);
}
.lightest {
	background: rgba($sr-color, 0.5);
}
.darker {
	background: rgba($sr-backgroundColor, 0.2);
}
.darkest {
	background: rgba($sr-backgroundColor, 0.5);
}
.inverse {
	color: $sr-backgroundColor;
}
/**/
.rightsep {
	border-right: 1px dashed $sr-color;
}
.col .leftsep {
	border-left: 1px dashed $sr-color;
}
/* fonts */
.allcaps {
	text-transform: uppercase;
}
.huge {
	font-size: 150%;
}
.italic {
	font-style: italic;
}
.red {
	color: red;
}
/* tables */
.rowheader {
	color: darkgreen;
}
.rowfooter {
	color: orange;
}