/**
 * Reveal.js theme for Storyrevealer.
 *
 */

/*
 * Storyrevealer Defaults
 */
$sr-backgroundColor: #222;
$sr-color: #eee;
$sr-highlightColor: #f00;
$sr-graphTransparency: 0.8;
$sr-linkColor: #42affa;

/* this theme is redefined to use above defaults */
@import "theme/source/storyrevealer.scss";

/* chartlist-setting is redefined to use above defaults */
@import "chartist/chartist.scss";


/* page structure */
.container{
    display: flex;
}
.col{
    flex: 1;
}
/* text position */
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.bottom-left {
	position: fixed;
	bottom: 25%;
}
.bottom-right {
	position: fixed;
	bottom: 20%;
	right: 10%;
}
/* generic classes */
.lighter {
	background: rgba(255, 255, 255, 0.2);
}
.darkest {
	background: rgba(0, 0, 0, 0.5);
}
.lightest {
	background: rgba(255, 255, 255, 0.5);
}
.darker {
	background: rgba(0, 0, 0, 0.2);
}
/* fonts */
.allcaps {
	text-transform: uppercase;
}
.huge {
	font-size: 150%;
}
.italic {
	font-style: italic;
}
.red {
	color: red;
}
/* tables */
.rowheader {
	color: darkgreen;
}
.rowfooter {
	color: orange;
}