div.partial-corner {
    position: relative;
    width: 90%;
    height: 90%;
    margin: 40px;
/*  border: 1px solid #000;*/
}

div.partial-corner:after {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: -5px;
    right: -5px;
    border-top: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
}
div.partial-corner > span:before {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -5px;
    left: -5px;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
}