/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 30px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/* page structure */
.container{
    display: flex;
}
.col{
    flex: 1;
}
/* text position */
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.bottom-left {
	position: fixed;
	bottom: 25%;
}
.bottom-right {
	position: fixed;
	bottom: 20%;
	right: 10%;
}
/* generic classes */
.lighter {
	background: rgba(255, 255, 255, 0.2);
}
.darkest {
	background: rgba(0, 0, 0, 0.5);
}
.lightest {
	background: rgba(255, 255, 255, 0.5);
}
.darker {
	background: rgba(0, 0, 0, 0.2);
}
/* fonts */
.allcaps {
	text-transform: uppercase;
}
.huge {
	font-size: 150%;
}
.italic {
	font-style: italic;
}
.red {
	color: red;
}
/* tables */
.rowheader {
	color: darkgreen;
}
.rowfooter {
	color: orange;
}
/* sample specific classes */
.reveal h1.red{
	color: red;
}
.title.black {
	color: black;
}
/* chartist */
.ct-label {
	color: white;
}
